:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #303133;
  background-color: #f5f7fa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f7fa;
  color: #303133;
  overflow-y: scroll;
}

#app {
  min-height: 100%;
}
